@font-face {
    font-family: 'gentle';
    src: url(../font/GM_R.woff2);
}
@font-face {
    font-family: 'creato';
    src: url(../font/CreatoDisplay-Medium.woff2);
}
@font-face {
    font-family: 'gm';
    src: url(../font/GM_C.woff2);
}
@font-face {
    font-family: 'unica';
    src: url(../font/Unica77LLWeb-Regular.woff2);
}